
#movieGenresList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  grid-area: genres;
}

h3:has(+ #movieGenresList) {
  grid-area: genres-h;
}

#movieGenresList a {
  padding: 0.5rem 0rem;
  color: var(--palette-secondary-main);
  line-height: 1;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

#movieGenresList a svg{
  width: 16px;
}

#movieGenresList a:not(:last-child) {
  margin-right: 2rem;
}

#movieGenresList a:hover {
  text-decoration: underline;
}

#movieGenresList a:active {
  transform: translateY(2px);
}

article h3 {
  margin-top: 2.3rem;
  margin-bottom: 1rem;
  color: var(--palette-text-primary);
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  article h3 {
    font-size: 1.25rem;
  }
}

p {
  color: var(--palette-text-secondary);
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.8;
  text-align: justify;
}
.artwork {
  padding: 4rem;
}

@media only screen and (max-width: 1500px) {
  .artwork {
    padding: 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .artwork {
    padding: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .artwork {
    padding: 0;
    margin-top: -102px;
  }
}

article {
  display: grid;
  grid-template-columns: 40% auto auto auto;
  grid-template-rows: repeat(8, max-content);
  max-width: 120rem;
  margin: 0 4rem;
  margin-bottom: 7rem;
  align-items: flex-start;
  justify-content: start;
}

article#movie {
  grid-template-areas:
    "artwork title title title"
    "artwork subtitle subtitle subtitle"
    "artwork rating votes info"
    "artwork genres-h genres-h genres-h"
    "artwork genres genres genres"
    "artwork synopsys-h synopsys-h synopsys-h"
    "artwork synopsys synopsys synopsys"
    "artwork cast-h cast-h cast-h"
    "artwork cast cast cast"
    "artwork actions actions actions"
    "artwork ads ads ads";
}

article#person {
  grid-template-areas:
    "artwork title title title"
    "artwork subtitle subtitle subtitle"
    "artwork bio-h bio-h bio-h"
    "artwork bio bio bio"
    "artwork ads ads ads"
    "artwork nothing nothing nothing"
}

@media only screen and (max-width: 1200px) {
  article#movie {
    grid-template-areas:
      "title title"
      "subtitle subtitle"
      "artwork artwork"
      "rating info"
      "genres-h genres-h"
      "genres genres"
      "synopsys-h synopsys-h"
      "synopsys synopsys"
      "cast-h cast-h"
      "cast cast"
      "actions actions"
      "ads ads"
  }
}


article#movie h3:has(+ #synopsys) {
  grid-area: synopsys-h;
}

#bio {
  grid-area: bio;
}

article#movie h3:has(+ #bio) {
  grid-area: bio-h;
}

article h1 {
  grid-area: title;
}

article h2 {
  grid-area: subtitle;
  margin-bottom: 2.4rem;
}

article .artwork {
  object-fit: contain;
  -webkit-mask-image: linear-gradient(white 68%, transparent 100%);
  align-self: start;
  object-position: top;
  padding-top: 0;
  width: 100%;
  height: auto;
  grid-area: artwork;
}

article .rating {
  justify-self: start;
  grid-area: rating;
}

article #additionalInfo {
  color: var(--palette-warning-light);
  font-size: 1.4rem;
  white-space: nowrap;
  text-transform: uppercase;
  grid-area: info
}

article #movieListActions {
  grid-area: actions;
}

article #movieListActions form {
  display: flex;
}



article p#synopsys {
  padding-right: 4rem;
  grid-area: synopsys;
}

@media only screen and (max-width: 1500px) {
  article {
    max-width: 105rem;
  }
}

@media only screen and (max-width: 1400px) {
  article{
    max-width: 110rem;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 1300px) {
  article {
    max-width: 110rem;
    margin-bottom: 5rem;
  }
}

.ads {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-area: ads;
  margin-top: 2rem;
}

.ad-section-wrapper-links {
  display: flex;
  margin-right: auto;
}

.ad-section-wrapper-links > *:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (max-width: 1300px) {
  .ad-section-wrapper-links > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.ads a[href="#"] {
  display: none;
}

.ads a, #movieListActions button {
  padding: 6px 16px;
  font-size: 1.5rem;
  display: flex;
  border: 1px solid currentColor;
  min-width: 96px;
  min-height: 48px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  color: var(--palette-primary-main);
}


#movieListActions button {
  background: none;
  border: 1px solid var(--palette-secondary-main);
  color: var(--palette-secondary-main);
  display: flex;
}

.ads a svg {
  height: 1.5rem;
  margin-left: 1rem;
}

ul#castList {
  display: flex;
  overflow-x: scroll;
  overflow-y: clip;
  max-width: 400px;
}

#cast {
  grid-area: cast;
}

h3:has(+ #cast) {
  grid-area: cast-h;
}

ul#castList li {
  margin: 3px;
  width: 45px;
  height: 45px;
  display: flex;
}

ul#castList img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: clip;
}

ul#castList::-webkit-scrollbar-button {
  background: red;
}

body[data-path="/person"] article:not(#person),
body[data-path="/movie"] article:not(#movie) {
  display: none;
}
