
header form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
  background-color: var(--palette-secondary-dark);
  border: 1px solid var(--palette-secondary-main);
  height: 37px;
  width: 37px;
  outline: none;
  border-radius: 100px;
  transition: width var(--duration-standard) var(--ease-in-out);
  cursor: pointer;
  padding: 0;
}

#searchBox {
  background: none;
  border: none;
  color: white;
  outline: none;
  height: 100%;
  font-size: 16px;
}

#searchBox::placeholder {
  color: var(--palette-secondary-contrast-text);
}

form:not(:focus-within) #searchBox {
  display: none;
}

header form:focus-within {
  width: 40rem;
  justify-content: flex-start;
  overflow: hidden;
}

#searchSubmit {
  pointer-events: none;
  cursor: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--palette-secondary-contrast-text);
  width: 48px;
  align-items: stretch;
  justify-content: center;
  padding: 0 14px 0 14px;
}

header #searchSubmit svg {
  width: 1.5rem;
}

#searchBox:empty ~ #searchSubmit {
  pointer-events: none;
}


header form:focus-within #searchSubmit {
  pointer-events: auto;
  cursor: auto;
}

@media only screen and (max-width: 1300px) {
  #searchButton {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 1300px) {
  form {
    border: 1px solid transparent;
    background-color: var(--palette-secondary-main);
  }
}

@media (max-width: 600px) {
  form {
    max-width: 22rem;
  }
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: auto;
  right: 0;
  z-index: var(--z-app-bar);
  box-shadow: var(--box-shadow-1);
  background: var(--palette-background-default);
  padding: 24px;
}
