
header form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
  background-color: var(--palette-secondary-dark);
  border: 1px solid var(--palette-secondary-main);
  height: 37px;
  width: 37px;
  outline: none;
  border-radius: 100px;
  transition: width var(--duration-standard) var(--ease-in-out);
  cursor: pointer;
  padding: 0;
}

#searchBox {
  background: none;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
}

#searchBox::placeholder {
  color: var(--palette-secondary-contrast-text);
}

form:not(:focus-within) #searchBox {
  display: none;
}

header form:focus-within {
  width: 40rem;
  justify-content: flex-start;
  overflow: hidden;
}

#searchSubmit {
  pointer-events: none;
  cursor: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--palette-secondary-contrast-text);
  width: 48px;
  align-items: stretch;
  justify-content: center;
  padding: 0 14px 0 14px;
}

header #searchSubmit svg {
  width: 1.5rem;
}

#searchBox:empty ~ #searchSubmit {
  pointer-events: none;
}


header form:focus-within #searchSubmit {
  pointer-events: auto;
  cursor: auto;
}

@media only screen and (max-width: 1300px) {
  form {
    border: 1px solid transparent;
    background-color: var(--palette-secondary-main);
  }
}

@media (max-width: 600px) {
  form {
    max-width: 22rem;
  }
}


header {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr repeat(3, max-content);
  position: sticky;
  top: 0;
  left: auto;
  right: 0;
  z-index: var(--z-app-bar);
  box-shadow: var(--box-shadow-1);
  background: var(--palette-background-default);
  padding: 24px;
}

#hamburgerArea {
  grid-area: 1 / 1 / 2 / 2;
}

#searchForm {
  grid-area: 1 / 3 / 2 / 4;
}

#colorScheme {
  grid-area: 1 / 4 / 2 / 5;
  margin: 0 4px;
}

#dark, #light {
  font-size: 2.25rem;
}

#dark {
  color: #666;
}

#light {
  color: #999;
}

#light:has( + #darkScheme:not(:checked)) {
  pointer-events: none;
  color: #ffb74d;
}

#darkScheme:checked + #dark {
  pointer-events: none;
}

#darkScheme {
  appearance: none;
  width: 40px;
  height: 14px;
  cursor: pointer;
  position: relative;
}

#darkScheme::before {
  content: "";
  display: block;
  appearance: none;
  inset: 0;
  cursor: pointer;
  position: relative;
  opacity: .5;
  background: var(--palette-secondary-main);
  border-radius: 7px;
  position: absolute;
}

#darkScheme:is(:checked)::after {
  transform: translate(20px, -3px);
}

#darkScheme::after {
  content: "";
  position: absolute;
  background: var(--palette-secondary-main);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  transform: translate(0, -3px);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

