
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
}

a.poster {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform var(--duration-shortest) var(--ease-in-out);
  padding: 4px;
  text-decoration: none;
  align-items: center;
}

ul:is(#movieList, .listMovies) a.poster:hover {
  transform: scale(1.03);
  background-color: var(--palette-background-paper);
  box-shadow: var(--box-shadow-1);
  text-decoration: none;
}

ul#movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
  grid-gap: 4rem 2rem;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: start;
  margin: 4rem 0;
}

@media (max-width: 600px) {
  ul#movieList {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 23rem));
    justify-content: space-around;
    grid-gap: 4rem 1.5rem;
  }
}

@media (max-width: 400px) {
  ul#movieList {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
    grid-gap: 4rem 1rem;
  }
}

a.poster:hover h3 {
  color: var(--palette-text-primary);
}

a.poster:hover .rating {
  color: var(--palette-warning-light);
}

a.poster h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  color: var(--palette-text-secondary);
  margin-bottom: 1rem;
  line-height: 1.4;
}

.detailsPanel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.posterImg {
  background: url("/icons/loading.svg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.posterImg[src="/nothing.svg"] {
  background: var(--palette-background-default);
}

.rating {
  font-size: 24px;
  display: grid;
  --rating-as-percent: calc(var(--rating) * 10%);
}

.rating::before {
  content: "★★★★★";
  color: grey;
  grid-area: 1 / 1 / 2 / 2;
}

.rating::after {
  content: "★★★★★";
  color: var(--palette-warning-main);
  grid-area: 1 / 1 / 2 / 2;
  clip-path:polygon(0 0 , var(--rating-as-percent) 0, var(--rating-as-percent) 100%, 0 100%, 0 0);
}

main {
  scroll-behavior: smooth;
}

body:not([data-path="/my-lists"]) #lists {
  display: none;
}

body[data-path="/my-lists"] #movies {
  display: none;
}

ul.listMovies {
  display: flex;
  max-width: 70vw;
  overflow-x: scroll;
  overflow-y: auto;
  gap: 2rem;
}

#listOfLists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}

.listCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffa869;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  padding: 20px 40px;
  color: black;
}

.listCard:hover {
  box-shadow: var(--box-shadow-3);
}

.listCard  h2 {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--palette-text-primary);
  margin-bottom: 1rem;
  line-height: 1.4;
}