
a.logo {
  width: 100%;
  height: 18rem;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  outline: none;
}

.logo-img {
  max-width: 75%;
}

.copyright {
  display: flex;
  justify-content: center;
  margin: 24px 8px;
}

.tmdb-mark {
  margin: 16px 8px;
}

nav h3 {
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
  color: var(--palette-text-primary);
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 0 0 1rem 1rem;
}

nav h3:not(:first-child) {
  margin-top: 4rem;
}

.tmdb-mark {
  display: flex;
  justify-content: center;
}

.tmdb-mark > img {
  max-width: 100%;
  height: 3rem;
}

nav {
  max-width: 250px;
  left: 0;
  top: 0;
  bottom: 0;

  z-index: var(--z-drawer);
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform var(--duration-short) var(--ease-out);
  box-shadow: var(--box-shadow-16);
  background-color: var(--palette-background-paper);
}

nav ul a {
  outline: none;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  color: var(--palette-primary-main);
}

nav ul a:current {
  color: var(--palette-secondary-main);
}

#hamburgerButton {
  appearance: none;
  background: none;
  border: none;
  width: 25px;
  font-size: 9ch;
  line-height: 1;
  cursor: pointer;
  color: var(--palette-secondary-main);
  visibility: hidden;
  text-decoration: none;
}



@media only screen and (max-width: 1000px) {
  main {
    padding-top: 72px;
    padding-bottom: 4rem;
  }

  #hamburgerButton {
    visibility: visible;
  }

  body:has(#hamburgerButton:focus) nav {
    transform: none;
  }

  nav {
    position: fixed;
    transform: translateX(-100%);
  }
}