
a.logo {
  max-width: 75%;
  display: grid;
  place-items: center;
  outline: none;
}

.copyright {
  display: flex;
  justify-content: center;
  margin: 24px 8px;
}

.tmdb-mark {
  margin: 16px 8px;
}

nav h3 {
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
  color: var(--palette-text-primary);
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 0 0 1rem 1rem;
}

nav h3:not(:first-of-type) {
  margin-top: 4rem;
}

.tmdb-mark {
  max-width: 100%;
  height: 3rem;
}

nav {
  max-width: 250px;
  left: 0;
  top: 0;
  bottom: 0;

  z-index: var(--z-drawer);
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform var(--duration-short) var(--ease-out);
  box-shadow: var(--box-shadow-16);
  background-color: var(--palette-background-paper);
}

nav ul {
  outline: none;
  display: block;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  list-style: none;
}

nav ul a {
  color: var(--palette-primary-main);
  display: flex;
  gap: 10px;
  margin-bottom: 1.2rem;
}

nav ul a svg {
  width: 16px;
}

nav ul a:current {
  color: var(--palette-secondary-main);
}

nav ul a * {
  pointer-events: none;
}

#hamburgerArea {
  font-size: 9ch;
  cursor: pointer;
  color: var(--palette-secondary-main);
  position: absolute;
  display: none;
}

#hamburgerButton {
  appearance: none;
  background: none;
  border: none;
  text-decoration: none;
}

main {
  padding: 0 4rem;
}

main, article {
  padding-top: 6rem;
  padding-bottom: 6rem;
  overflow: scroll;
  max-height: 100vh;
}

#hamburgerArea:has(#hamburgerButton:checked) {
  position: fixed;
  inset: 0;
}

@media only screen and (max-width: 1000px) {
  main {
    padding-top: 72px;
    padding-bottom: 4rem;
  }

  main, article {
    overflow: auto;
    max-height: unset;
  }

  body:has(#hamburgerButton:checked) nav {
    transform: none;
  }

  #hamburgerButton:checked {
    visibility: hidden;
  }

  nav {
    position: fixed;
    transform: translateX(-100%);
  }

  #hamburgerArea {
    display: block;
  }
}