@import "theme.css";
@import "article.css";
@import "nav.css";
@import "main.css";
@import "header.css";

:root {
  color-scheme: light dark;
  --duration: 0.5s;
  --timing: ease;
  --palette-background-backdrop: rgba(0, 0, 0, 0.5);
  --palette-common-white: #fff;
  --palette-common-black: #000;
  --palette-custom-lightBlue: lightblue;
  --palette-custom-tmdbLightBlue: #01b4e4;
  font-size: 12px;
}

body {
  color: var(--palette-text-primary);
  background-color: var(--palette-background-default);
  transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
}

body {
  /* MEMO: inspired by https://web.dev/prefers-color-scheme/#avoid-pure-white */
  --palette-background-default: #fafafa;
  --palette-text-primary: rgba(0, 0, 0, 0.87);
  --palette-text-secondary: rgba(0, 0, 0, 0.54);
  --palette-text-disabled: rgba(0, 0, 0, 0.38);
  --palette-divider: rgba(0, 0, 0, 0.12);
  --palette-action-active: rgba(0, 0, 0, 0.54);
  --palette-action-hover: rgba(0, 0, 0, 0.04);
  --palette-action-hover-opacity: 0.04;
  --palette-action-selected: rgba(0, 0, 0, 0.08);
  --palette-action-disabled: rgba(0, 0, 0, 0.26);
  --palette-action-disabled-background: rgba(0, 0, 0, 0.12);
  --palette-background-paper: #fff;
  --palette-primary-main: #14b8a2;
  --palette-primary-main-rgb: 20, 184, 162;
  --palette-primary-dark: #0e8071;
  --palette-primary-light: #43c6b4;
  /* --palette-primary-contrast-text: #fff; */
  /* at color schema */
  --palette-primary-contrast-text: rgba(0, 0, 0, 0.87);
  /* at MUI */
  --palette-secondary-main: #b80040;
  --palette-secondary-main-rgb: 184, 0, 64;
  --palette-secondary-dark: #80002c;
  --palette-secondary-light: #c63366;
  --palette-secondary-contrast-text: #fff;
  /* at MUI */
  --palette-warning-main: #b5b800;
  --palette-warning-dark: #7e8000;
  --palette-warning-light: #c3c633;
  --palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
  /* at MUI */
  --background-blend-gradient: linear-gradient(rgba(255, 255, 255, 0) 68%, rgb(255, 255, 255) 100%);
}

@media (prefers-color-schenme: dark) {
  body {
  /* MEMO: drop image filter in the dark mode for now */
  --image-filter: grayscale(0%);
  --palette-background-default: #303030;
  --palette-text-primary: #fff;
  --palette-text-secondary: rgba(255, 255, 255, 0.7);
  --palette-text-disabled: rgba(255, 255, 255, 0.5);
  --palette-divider: rgba(255, 255, 255, 0.12);
  --palette-action-active: #fff;
  --palette-action-hover: rgba(255, 255, 255, 0.08);
  --palette-action-hover-opacity: 0.08;
  --palette-action-selected: rgba(255, 255, 255, 0.16);
  --palette-action-disabled: rgba(255, 255, 255, 0.3);
  --palette-action-disabled-background: rgba(255, 255, 255, 0.12);
  --palette-background-paper: #424242;
  --palette-primary-main: #41ead4;
  --palette-primary-main-rgb: 65, 234, 212;
  --palette-primary-dark: #2da394;
  --palette-primary-light: #67eedc;
  /* --palette-primary-contrast-text: rgba(0, 0, 0, 0.87); */
  /* at color schema */
  --palette-primary-contrast-text: rgba(0, 0, 0, 0.87);
  /* at MUI */
  --palette-secondary-main: #ff206e;
  --palette-secondary-main-rgb: 255, 32, 110;
  --palette-secondary-dark: #b2164d;
  --palette-secondary-light: #ff4c8b;
  --palette-secondary-contrast-text: #fff;
  /* at MUI */
  --palette-warning-main: #fbff12;
  --palette-warning-dark: #afb20c;
  --palette-warning-light: #fbff41;
  --palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
  /* at MUI */
  --background-blend-gradient: linear-gradient(rgba(255, 255, 255, 0) 68%, rgb(48, 48, 48) 100%);
}

body img:not([src*=".svg"]) {
  filter: var(--image-filter);
}
}

* {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* small */
@media only screen and (max-width: 600px) {
  html {
    font-size: 57.5%;
  }

  h1 {
    font-size: 2.125rem;
  }

  article h1 {
    font-size: 3rem;
  }
}

/* medium */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }

  article h1 {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1rem;
  }

  article h2 {
    font-size: 1.25rem;
  }
}


/* largest */
@media only screen and (max-width: 1500px) {
  html {
    font-size: 57.5%;
  }
}


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
}

form,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}


h1 {
  margin-bottom: 0.5rem;
  color: var(--palette-text-primary);
  font-size: 3rem;
  font-weight: var(--font-weight-light);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

article h1 {
  font-size: 3.75rem;
  line-height: 1.2;
}

h2 {
  color: var(--palette-text-secondary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1;
}

article h2 {
  font-size: 1.25rem;
  line-height: 1.5;
}

main > h2 {
  margin-bottom: 2rem;
}

@media (max-width: 400px) {
  .detailsPanel {
    padding: 1.5rem 1.5rem;
  }
}

a#next:not([href]), a#prev:not([href]) {
  visibility: hidden;
}

a svg, a img {
  pointer-events: none;
}

svg {
  fill: currentColor;
}

article {
  visibility: hidden;
}

body[data-path="/movie"] main{
  display: none;
}

body[data-path="/movie"] article {
  visibility: visible;
}

@media only screen and (max-width: 1462.5px) {
  .content-wrapper {
    padding-top: 72px;
    padding-bottom: 6rem;
  }
}

body {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

header {
  grid-area: 1 / 2 / 2 / 3;
}

nav {
  grid-area: 1 / 1 / 3 / 2;
}

main,article {
  grid-area: 2 / 2 / 3 / 3;
}

a:hover {
  text-decoration: underline;
}


body:not([data-path="/movie"]) article {
  display: none;
}

body[data-path="/movie"] main {
  display: none;
}

.gradient {
  -webkit-mask-image: linear-gradient(white 68%, transparent 100%);
}

li {
  list-style: none;
}